.shadow-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 20px;
    padding: 15px 10px;
    background: #f5f5f5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadow-card.hide {
    display: none;
}
